<div style='margin-top: 15%;'>
	<center>
		<h2 style='color:white'>Notaris Loesianna</h2>
		<br/>
		<form class='form-horizontal'>
			<div class="input-group">
				<input class="form-control" type="text" name="clientSearch" placeholder="Nama / NIK pelanggan" autocomplete="off" required style="text-align: center; text-transform:uppercase;"/>
			</div>
		</form>
	</center>
</div>